@media screen and (min-width: 991px) {
    .footer{
        /*position: fixed;
        bottom: 0;
        min-height: 100px;
        width: 100%;*/
        background-color: rgb(32, 35, 42);
        color: #fff;
        padding: 1em;
    }

    #contact_card{
        margin-left: 1em;
    }
}
@media screen and (max-width: 990px) {
    footer{
        display: inherit;
        bottom: 0;
        min-height: 100px;
        width: 100%;
        background-color: rgb(32, 35, 42);
        color: #fff;
        padding-top: 1em;
    }
}
body{
    height: 100%;
    width: 100%;
}

header{
    padding-top: 1em;
    padding-bottom: 1em;
    height: 10%;
    background-color: #85cafe;
}

div header{
    background-color: transparent;
}

header > h1{
    margin-left: 5%;
    margin-top: 0;
}

nav a{
    background-color: #f5f5f5;
    color: black;
}

nav a:hover, nav a:active, nav a:visited{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: black !important;
    border-right: 0.4em solid #85cafe;
    background-color: #f5f5f5 !important;
}

main{
    margin-top: 2em;
    min-height: 500px;
    background-color: #fff;
}

.no-border{
    border: 0 !important;
    border-radius: 0 !important;
}

.active{
    border-right: 0.4em solid #85cafe;
}
